@font-face {
	font-family: smb;
	src: url(common/fonts/smb.ttf);
}

body {
	background-color: black;
	font-family: smb;
}

.large-text {
	font-size: 2em;
}

.aggregate-panel {
	display: inline-block;
	margin: 0.83%;
	width: 15%;
	cursor: pointer;
}

.aggregate-panel img {
	width: 100%;
}

.fill {
	margin: 0.83%;
	width: 98.33%;
}